/* Navbar container */
.nav-container {
    display: flex;
    /* Align items to the start and end */
    background-color: #2c3e50; /* Navbar background color */
    padding: 15px; /* Padding around the navbar */
    font-family:Arial, Helvetica, sans-serif
  }
  
  /* User information */
  .user {
    color: #ecf0f1; /* Text color for user information */
    font-weight: bold; /* Bold font for user information */
    margin-right: 400px;
  }
  
  /* List container */
  .list-container {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
    gap:40px;
  }
  
  /* List items */
  .list {
    margin-left: 15px; /* Add space between list items */
  }
  
  /* Links */
  .list a {
    color: #ecf0f1; /* Text color for links */
    text-decoration: none; /* Remove underlines from links */
    padding: 8px; /* Padding around links */
    border-radius: 5px; /* Rounded corners for links */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  
  /* Active link */
  .list a.active {
    background-color: #3498db; /* Background color for active link */
    color: #fff; /* Text color for active link */
  }
